<script lang="ts">
// This component is also imported on the /solutions/education page

import Vue from 'vue';

export default Vue.extend({
  props: {
    visible: {
      type: Number,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
    length: {
      type: Number,
      required: true,
    },
  },
});
</script>

<template>
  <div
    v-show="visible === index"
    class="carousel"
    :aria-label="`slide \#${index} of ${length}`"
    role="group"
    aria-roledescription="slide"
  >
    <slot />
  </div>
</template>

<style lang="scss" scoped></style>
