<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import { CONTENT_TYPES } from '~/common/content-types';
import { getClient } from '~/plugins/contentful.js';
import {
  EditionComparison as CeOrEe,
  HeaderSection,
} from '~/components/ce-or-ee/index.vue';
import { FooterEditLinkMixin } from '~/mixins';

export default Vue.extend({
  components: {
    CeOrEe,
    HeaderSection,
    NextStep,
  },
  nuxtI18n: false,
  mixins: [FooterEditLinkMixin],

  async asyncData() {
    try {
      const content = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'fields.slug': 'install/ce-or-ee',
      });

      const doc = content.items[0].fields.schema;
      const spaceId = content.items[0].sys.space.sys.id;
      const entryId = content.items[0].sys.id;
      const metadata = {
        title: content.items[0].fields.seoMetadata[0].fields.ogTitle,
        ...content.items[0].fields.seoMetadata[0].fields,
      };

      return { doc, metadata, spaceId, entryId };
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    return getPageMetadata((this as any).metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <HeaderSection :data="doc.header" />
    </SlpContainer>
    <section>
      <CeOrEe :data="doc.editions" />
    </section>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
