<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BadgeCard',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SlpRow>
      <SlpColumn :cols="4" />
      <SlpColumn :cols="8">
        <div class="badge-card">
          <div>
            <img :src="data.img.src" :alt="data.img.alt" />
          </div>
          <div class="badge-card__content">
            <SlpTypography tag="h2" variant="heading5-bold">
              {{ data.title }}
            </SlpTypography>
            <SlpTypography v-if="data.text" tag="div" variant="body2">
              <div v-html="$md.render(data.text)" />
            </SlpTypography>
            <SlpButton
              v-if="data.cta"
              variant="tertiary"
              :href="data.cta.href"
              :data-ga-name="data.cta.dataGaName"
              :data-ga-location="data.cta.dataGaLocation"
            >
              {{ data.cta.text }}
              <SlpIcon name="chevron-lg-right" variant="product" />
            </SlpButton>
          </div>
        </div>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.badge-card {
  margin-bottom: 64px;
  padding: 32px;
  border: 1px solid $color-surface-300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
      gap: 24px;
    }
  }
}
</style>
