<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DepartmentAccordion',
  props: {
    departmentData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      expanded: true,
    };
  },
});
</script>

<template>
  <article class="department-accordion">
    <button class="department" @click="expanded = !expanded">
      <SlpTypography tag="h3" variant="heading5">{{
        departmentData.departmentName
      }}</SlpTypography>
      <SlpIcon
        v-if="expanded"
        class="faq__expand-icon"
        name="dash"
        variant="product"
        alt="Dash Icon"
      />
      <SlpIcon
        v-else
        class="faq__expand-icon"
        name="plus"
        variant="product"
        alt="Plus Icon"
      />
    </button>
    <div v-show="expanded">
      <div v-for="item in departmentData.jobListings" :key="item.id">
        <div v-for="job in item.jobs" :key="job.absolute_url" class="job">
          <a
            class="job__link"
            :href="job.absolute_url"
            target="_blank"
            :data-ga-name="job.title"
            :data-ga-location="`${departmentData.departmentName} job listing`"
            >{{ job.title }}
          </a>
          <p>{{ job.location.name }}</p>
        </div>
      </div>
    </div>
  </article>
</template>

<style lang="scss" scoped>
.department-accordion {
  border-bottom: 1px solid $color-surface-300;
  padding-top: 16px;

  &:first-of-type {
    border-top: 1px solid $color-surface-300;
  }
}
.department {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.job {
  padding: 16px 16px 16px 16px;
  border-top: 1px solid $color-surface-200;

  @media (max-width: $breakpoint-md) {
    padding: 16px 16px 16px 0;
  }

  &__link {
    display: block;
    font-weight: $font-weight-bold;
    font-size: $text-body-2-bold;
    line-height: $line-height-body-2;
    margin-bottom: 8px;

    &:after {
      content: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &:hover:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.75 1C10.3358 1 10 1.33579 10 1.75C10 2.16421 10.3358 2.5 10.75 2.5L12.4393 2.5L8.21967 6.71967C7.92678 7.01256 7.92678 7.48744 8.21967 7.78033C8.51256 8.07322 8.98744 8.07322 9.28033 7.78033L13.5 3.56066V5.25C13.5 5.66421 13.8358 6 14.25 6C14.6642 6 15 5.66421 15 5.25V1.75V1H14.25H10.75ZM2.5 4L2.5 13C2.5 13.2761 2.72386 13.5 3 13.5L12 13.5C12.2761 13.5 12.5 13.2761 12.5 13V8.75C12.5 8.33579 12.8358 8 13.25 8C13.6642 8 14 8.33579 14 8.75V13C14 14.1046 13.1046 15 12 15L3 15C1.89543 15 1 14.1046 1 13V4C1 2.89543 1.89543 2 3 2L7.25 2C7.66421 2 8 2.33579 8 2.75C8 3.16421 7.66421 3.5 7.25 3.5L3 3.5C2.72386 3.5 2.5 3.72386 2.5 4Z" fill="%237759C2"/></svg>');
      display: inline-block;
      margin-left: 5px;
    }
  }
}
</style>
