<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SearchResultsBox',
  props: {
    searchResults: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      expanded: true,
    };
  },
});
</script>

<template>
  <article class="search-results">
    <a
      v-for="job in searchResults"
      :key="job.absolute_url"
      class="search-results__item"
      :href="job.absolute_url"
      target="_blank"
      :data-ga-name="job.title"
      :data-ga-location="`search results`"
      ><SlpTypography tag="span" variant="body2-bold" class="title slp-mb-8">{{
        job.title
      }}</SlpTypography>
      <SlpTypography tag="span" variant="body2" class="location">{{
        job.location.name
      }}</SlpTypography>
    </a>
  </article>
</template>

<style lang="scss" scoped>
.search-results {
  position: absolute;
  box-shadow: 0px 8px 50px -16px #d1d0d3;
  margin-top: 4px;
  max-width: 500px;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 2;
  background: $color-surface-50;

  @media (max-width: $breakpoint-md) {
    position: relative;
    max-width: 100%;
  }

  &__item {
    display: block;
    padding: 24px 16px;
    color: inherit;

    .title {
      display: block;
      color: $color-text-link-100;
    }

    .link {
      display: block;
      color: $color-text-300;
    }

    &:hover {
      background: $color-surface-100;
    }

    &:not(last-of-type) {
      border-bottom: 1px solid $color-surface-200;
    }
  }
}
</style>
