<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DashedCurves',
});
</script>

<template>
  <div ref="dashed-curves" class="dashed-curves">
    <svg
      width="756"
      height="800"
      viewBox="0 0 756 800"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.5"
        d="M286.701 142.646C324.211 82.648 366.895 36.9239 410.039 14.9083C522.678 -42.5676 595.8 83.3226 573.36 296.096C550.92 508.87 441.413 727.949 328.774 785.428C248.71 826.281 188.612 774.492 168.607 664.714"
        stroke="#9B91CC"
        stroke-width="0.813486"
        stroke-linecap="round"
        stroke-dasharray="1.25 10.01"
      />
      <path
        opacity="0.5"
        d="M618.209 319.724C677.04 357.208 721.697 399.445 742.467 441.327C795.075 547.402 674.541 611.018 473.248 583.413C271.954 555.809 66.1254 447.442 13.518 341.364C-27.5935 258.471 37.0265 201.509 163.292 193.742"
        stroke="#9B91CC"
        stroke-width="0.813486"
        stroke-linecap="round"
        stroke-dasharray="1.25 10.01"
      />
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.dashed-curves {
  position: absolute;
  top: -39%;
  left: -3%;
  width: 111%;
  svg {
    width: 100%;
    height: 100%;
  }
  path {
    stroke-dasharray: 1.25 10.01;
    stroke-dashoffset: 0;
    &--animated {
      path {
        animation: none;
      }
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
