<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'StatsGridOrbs3',
});
</script>

<template>
  <div ref="path" class="path">
    <svg
      width="621"
      height="509"
      viewBox="0 0 621 509"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_463_6293)">
        <path
          d="M600.638 200.934C603.1 200.934 605.097 198.937 605.097 196.473C605.097 194.01 603.1 192.013 600.638 192.013C598.175 192.013 596.179 194.01 596.179 196.473C596.179 198.937 598.175 200.934 600.638 200.934Z"
          fill="url(#paint1_linear_463_6293)"
        />
      </g>
      <g filter="url(#filter1_d_463_6293)">
        <path
          d="M97.3819 35.9952C99.8445 35.9952 101.841 33.9982 101.841 31.5347C101.841 29.0713 99.8445 27.0742 97.3819 27.0742C94.9192 27.0742 92.9229 29.0713 92.9229 31.5347C92.9229 33.9982 94.9192 35.9952 97.3819 35.9952Z"
          fill="url(#paint2_linear_463_6293)"
        />
      </g>
      <path
        opacity="0.5"
        d="M506.222 288.382C551.235 324.533 584.158 363.314 597.462 399.645C631.16 491.662 526.255 533.111 363.149 492.22C200.043 451.33 40.501 343.589 6.80326 251.57C-19.5312 179.663 38.7748 138.638 143.351 143.652"
        stroke="#9B91CC"
        stroke-width="0.813486"
        stroke-linecap="round"
        stroke-dasharray="1.25 10.01"
      />
      <g filter="url(#filter2_d_463_6293)">
        <path
          d="M576.533 161.828C577.763 161.828 578.761 160.831 578.761 159.6C578.761 158.369 577.763 157.371 576.533 157.371C575.302 157.371 574.305 158.369 574.305 159.6C574.305 160.831 575.302 161.828 576.533 161.828Z"
          fill="url(#paint3_linear_463_6293)"
        />
      </g>
      <g filter="url(#filter3_d_463_6293)">
        <path
          d="M460.459 498.921C462.922 498.921 464.918 496.924 464.918 494.461C464.918 491.997 462.922 490 460.459 490C457.996 490 456 491.997 456 494.461C456 496.924 457.996 498.921 460.459 498.921Z"
          fill="url(#paint4_linear_463_6293)"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_463_6293"
          x="592.939"
          y="188.773"
          width="15.3965"
          height="15.3994"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6293"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6293"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_d_463_6293"
          x="89.6836"
          y="23.835"
          width="15.3965"
          height="15.3994"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6293"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6293"
            result="shape"
          />
        </filter>
        <filter
          id="filter2_d_463_6293"
          x="571.065"
          y="154.132"
          width="10.9346"
          height="10.9355"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6293"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6293"
            result="shape"
          />
        </filter>
        <filter
          id="filter3_d_463_6293"
          x="452.761"
          y="486.761"
          width="15.3965"
          height="15.3994"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6293"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6293"
            result="shape"
          />
        </filter>
        <radialGradient
          id="paint0_radial_463_6293"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(319.508 243.651) rotate(90) scale(170.91 170.331)"
        >
          <stop stop-color="#B092F2" stop-opacity="0.4" />
          <stop offset="0.856688" stop-color="#B092F2" stop-opacity="0" />
        </radialGradient>
        <linearGradient
          id="paint1_linear_463_6293"
          x1="596.564"
          y1="198.093"
          x2="604.812"
          y2="194.699"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFC783" />
          <stop offset="1" stop-color="#FCA121" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_463_6293"
          x1="93.29"
          y1="33.1432"
          x2="101.537"
          y2="29.7485"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F39FC5" />
          <stop offset="1" stop-color="#E24329" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_463_6293"
          x1="574.513"
          y1="160.353"
          x2="578.633"
          y2="158.657"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F39FC5" />
          <stop offset="1" stop-color="#E24329" />
        </linearGradient>
        <linearGradient
          id="paint4_linear_463_6293"
          x1="456.38"
          y1="496.069"
          x2="464.628"
          y2="492.674"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#5DDAB4" />
          <stop offset="1" stop-color="#338F7E" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.path {
  position: absolute;
  top: -15%;
  left: -26%;
  width: 135%;
  svg {
    width: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
