<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FeaturedSpeaker',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer variant="charcoal-100" class="featured-speaker">
    <SlpRow>
      <div class="flex slp-mb-64">
        <SlpIcon
          icon="slp-speaker"
          size="lg"
          color="surface-950"
          class="slp-mr-16"
        />
        <SlpTypography tag="h2" variant="heading2-bold">
          {{ data.header }}
        </SlpTypography>
      </div>
    </SlpRow>
    <SlpRow class="featured-speaker__row">
      <SlpColumn :cols="4" class="featured-speaker__col">
        <div v-for="speaker in data.speakers" :key="speaker.author">
          <div class="">
            <img
              :src="speaker.image.src"
              class="featured-speaker__img"
              :alt="speaker.image.alt"
            />
          </div>
          <SlpTypography
            class="slp-pb-8 slp-pt-32"
            tag="p"
            variant="body1-bold"
          >
            {{ speaker.name }}
          </SlpTypography>
          <SlpTypography class="slp-pb-8" tag="p" variant="body2">
            {{ speaker.title }}
          </SlpTypography>
          <SlpTypography class="slp-pb-8" tag="p" variant="body2-bold">
            {{ speaker.company }}
          </SlpTypography>
        </div>
      </SlpColumn>
      <SlpColumn :cols="8" class="featured-speaker__col">
        <div
          v-if="data.text"
          class="slp-pb-16 featured-speaker__text"
          v-html="$md.render(data.text)"
        ></div>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss">
.featured-speaker {
  padding: $spacing-96 0;
  color: $color-text-50;

  &__img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 110px;
  }

  .flex {
    display: flex;
    align-items: center;
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    :deep {
      em {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding-bottom: 32px;
        display: block;
        font-style: normal;
      }
      h3 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.6px;
        line-height: 32px;
        padding-top: 32px;
      }
    }
  }
  &__row {
    margin-left: -32px;
  }
  &__col {
    padding-left: 32px;
  }
}
</style>
