<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      selectedLocation: 'Filter speakers by location',
    };
  },
  computed: {
    speakerArray() {
      if (this.selectedLocation !== 'Filter speakers by location') {
        return this.data.speakers.filter((speaker) => {
          return speaker.tags.includes(this.selectedLocation);
        });
      }
      return this.data.speakers;
    },
  },
};
</script>

<template>
  <section
    :id="data.anchor_id"
    class="speakers"
    :style="`background: ${data.background_color}`"
  >
    <SlpContainer>
      <SlpRow>
        <SlpColumn>
          <div class="flex">
            <SlpTypography tag="h2" variant="heading2-bold"
              >Featured speakers</SlpTypography
            >
            <div class="dropdown">
              <select
                v-if="data.dropdown_options"
                v-model="selectedLocation"
                class="dropdown__select"
                :aria-label="`Filter by ${data.dropdown_label}`"
                :name="data.dropdown_label"
              >
                <option>Filter speakers by location</option>
                <option
                  v-for="option in data.dropdown_options"
                  :key="option.option_name"
                  :value="option.value"
                >
                  {{ option.option_name }}
                </option>
              </select>
            </div>
          </div>

          <div class="card-grid">
            <article class="callout-box desktop">
              <SlpIcon
                class="icon"
                variant="marketing"
                name="speaker-presentation"
                size="lg"
                hex-color="transparent"
              />
              <SlpTypography variant="heading5-bold" tag="h3">
                {{ data.callout.header }}
              </SlpTypography>
              <SlpTypography tag="p" variant="body2">
                {{ data.callout.text }}
              </SlpTypography>
              <SlpButton
                variant="primary"
                :href="data.callout.button_url"
                :data-ga-name="data.callout.data_ga_name"
                :data-ga-location="data.callout.data_ga_location"
              >
                {{ data.callout.button_text
                }}<SlpIcon variant="product" name="chevron-lg-right" />
              </SlpButton>
            </article>
            <article
              v-for="speaker in speakerArray"
              :key="speaker.name"
              class="speaker-card"
            >
              <SlpTypography tag="p" class="tags">{{
                speaker.tags
              }}</SlpTypography>
              <nuxt-img
                class="speaker-card-image"
                :src="speaker.img_url"
                :alt="`${speaker.name} headshot`"
                loading="lazy"
              />
              <a
                v-if="speaker.link"
                :href="speaker.link"
                target="_blank"
                :data-ga-name="`${speaker.name} bio`"
                data-ga-location="speakers"
              >
                <SlpTypography tag="h3" variant="heading5-bold">{{
                  speaker.name
                }}</SlpTypography>
              </a>
              <SlpTypography v-else tag="h3" variant="heading5-bold">{{
                speaker.name
              }}</SlpTypography>
              <SlpTypography tag="p" class="title">{{
                speaker.title
              }}</SlpTypography>
              <SlpTypography tag="p" class="company">{{
                speaker.company
              }}</SlpTypography>
            </article>
          </div>
          <article class="callout-box mobile">
            <SlpIcon
              class="icon"
              variant="marketing"
              name="speaker-presentation"
              size="lg"
              hex-color="transparent"
            />
            <SlpTypography variant="heading5-bold" tag="h3">
              {{ data.callout.header }}
            </SlpTypography>
            <SlpTypography tag="p" variant="body2">
              {{ data.callout.text }}
            </SlpTypography>
            <SlpButton
              variant="primary"
              :href="data.callout.button_url"
              :data-ga-name="data.callout.data_ga_name"
              :data-ga-location="data.callout.data_ga_location"
            >
              {{ data.callout.button_text
              }}<SlpIcon variant="product" name="chevron-lg-right" />
            </SlpButton>
          </article>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.speakers {
  color: $color-text-50;
  position: relative;
  padding: $spacing-64 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $spacing-32;

  h2 {
    @media (max-width: $breakpoint-md) {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: $spacing-16;
    }
  }
}

.dropdown {
  flex: 1 0 100%;
  max-width: 350px;
  position: relative;

  @media (max-width: $breakpoint-md) {
    max-width: 100%;
  }

  &__select {
    color: $color-text-200;
    padding: 14px 12px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    appearance: none;
    position: relative;
    background: $color-surface-50;
  }

  &:after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292894 1.70711C-0.0976312 1.31658 -0.0976312 0.683417 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292894Z' fill='%23333333'/%3E%3C/svg%3E");
    font-size: 1rem;
    top: 11px;
    right: 28px;
    position: absolute;
    pointer-events: none;
    z-index: 3;
  }
}

.card-grid {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  @media (max-width: $breakpoint-md) {
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: space-between;
    gap: 0;
  }
}

.speaker-card {
  flex: 0 0 calc(25%);
  max-width: 255px;
  border-radius: 8px;
  margin-bottom: $spacing-32;

  @media (max-width: $breakpoint-md) {
    margin-right: $spacing-24;
  }

  h3,
  p,
  a,
  &-image {
    display: block;
    max-width: 255px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: $spacing-8;
  }

  p {
    margin-bottom: $spacing-8;
  }

  .title {
    font-size: $text-body-1;
  }

  .company {
    font-size: $text-body-2;
    font-weight: $font-weight-bold;
  }

  .tags {
    font-size: $text-caps;
    text-transform: uppercase;
  }

  &-image {
    border-radius: 8px;
    margin-bottom: $spacing-16;
  }
}

.callout-box {
  flex: 1 1 calc(25%);
  max-width: 255px;
  border-radius: 8px;
  border: 1px solid $color-surface-50;
  padding: $spacing-24 $spacing-16;
  margin-bottom: $spacing-32;

  @media (max-width: $breakpoint-md) {
    flex: 1 0 100%;
    max-width: 100%;
    margin-top: $spacing-48;
  }

  p {
    margin-top: $spacing-8;
    margin-bottom: $spacing-24;
  }

  .slp-btn {
    background: $color-surface-50;
    color: $color-text-300;
    border: none;

    .slp-icon {
      margin-left: $spacing-8;
    }
  }

  .icon {
    margin-bottom: $spacing-8;
  }
}

.desktop {
  display: block;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: $breakpoint-md) {
    display: block;
  }
}
</style>
