<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import IndustryTemplate from '~/components/solutions/templates/industry-template.vue';

import { getPageMetadata } from '~/common/meta';
import { TEMPLATES } from '~/common/constants';

export default Vue.extend({
  components: {
    IndustryTemplate,
  },
  nuxtI18n: false,
  async asyncData({ $solutionsService, params }: any) {
    try {
      const { items, solutions: beta } = await $solutionsService.getContent(
        `community/beta${params.slug ? `/${params.slug}` : ''}`,
        !params.slug,
      );

      return { items, beta };
    } catch (e) {
      throw new Error(e);
    }
  },
  data() {
    return {
      TEMPLATES,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).beta, this.$route.path);
  },
});
</script>

<template>
  <industry-template :solutions="beta" />
</template>
