<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ParallaxContainer',
  props: {
    offset: {
      type: Number,
      required: false,
      default: 0.1,
    },
    direction: {
      type: String,
      required: false,
      default: 'down',
      // up: content will translateY (+) up on scroll
      // down: content will translateY (-) down on scroll
    },
    threshold: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      observer: null,
      getDirection: null,
      observedElement: null,
    };
  },
  mounted() {
    const mediaQuery = window.matchMedia('(prefers-reduced-motion: reduce)');
    if (!mediaQuery.matches) {
      this.getDirection = this.direction === 'down' ? '+' : '-';
      this.observer = new IntersectionObserver(this.animationHandler, {
        rootMargin: '0px',
        threshold: this.threshold,
      });
      const children = this.$refs.container as HTMLElement;
      this.observer.observe(children);
    }
  },
  beforeDestroy() {
    this.observer.disconnect();
  },
  methods: {
    animationHandler(entries: any) {
      entries.forEach((entry: any) => {
        const element = entry.target;
        this.observedElement = element;
        if (entry.isIntersecting) {
          window.addEventListener('scroll', this.setTransform, false);
        } else {
          window.removeEventListener('scroll', this.setTransform, false);
        }
      });
    },
    setTransform() {
      const distance = Number(window.scrollY);
      const elemDistanceFromTop =
        this.observedElement.getBoundingClientRect().top;
      if ((distance - elemDistanceFromTop) * this.offset > 0) {
        this.observedElement.style.transform = `translate3d(0,${
          this.getDirection
        }${(distance - elemDistanceFromTop) * this.offset}px,0)`;
      }
    },
  },
});
</script>

<template>
  <div ref="container" class="parallax-container">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.parallax-container {
  isolation: isolate;
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  backface-visibility: hidden;
  will-change: transform;
  width: 100%;
  height: 100%;
}
</style>
