<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SearchInput',
  props: {
    type: {
      type: String,
      required: false,
      default: null,
    },
    placeholder: {
      type: String,
      required: false,
      default: 'Search',
    },
  },
  methods: {
    search(event: KeyboardEvent) {
      // If for the error page, trigger the Search Window functionality
      const target = event.target as HTMLInputElement;
      if (!this.type && event.key === 'Enter' && target) {
        window.location.hash = `#stq=${target.value}`;
      } else {
        // For other use cases, emit the value to be utilized in a parent component's function
        this.$emit('searchValue', target.value);
      }
    },
  },
});
</script>

<template>
  <div class="search-box slp-mt-24">
    <SlpIcon
      class="search-box__icon"
      name="search"
      variant="product"
      color="surface-500"
    />
    <input
      :id="`${!type ? 'error-search' : `${type}-search`}`"
      class="search-box__input"
      type="text"
      :aria-label="placeholder"
      :placeholder="placeholder || 'Search'"
      @keyup="search"
    />
  </div>
</template>

<style scoped lang="scss">
.search-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    max-width: 500px;
  }

  &__icon {
    position: absolute;
    left: $spacing-16;
    top: 13px;
    color: $color-text-300;
  }

  &__input {
    width: 100%;
    height: 44px;
    appearance: none;
    border: 1px solid $color-surface-500;
    border-radius: 4px;
    padding: 18px $spacing-8 $spacing-16 38px;
    transition: box-shadow 0.5s ease-in-out;
    line-height: normal;
    font-size: $text-body-2;
    vertical-align: center;

    &:active,
    &:focus,
    &:focus-visible {
      outline: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}
</style>
