<script lang="ts">
import Vue from 'vue';
import LaunchDarkly from '../common/launch-darkly.vue';
import { NAV_CONTENT_TYPES } from '../../common/content-types';
import { convertToCaseSensitiveLocale } from '../../common/util';
import { getNavigationClient } from '~/plugins/contentful';
import { SearchEventMixin } from '~/mixins';

export default Vue.extend({
  name: 'SlpNavigationHOC',
  components: {
    LaunchDarkly,
  },
  mixins: [SearchEventMixin],
  data() {
    return {
      searchVisible: false,
      navigation: {},
      navigationVariant: {},
    };
  },
  async fetch() {
    const navigationEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.NAVIGATION,
      include: 3,
      'sys.id': '4ANorm7zz94uE5N6oexbdi',
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    //separate nav entry for AB test
    const navigationVariantEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.NAVIGATION,
      include: 3,
      'sys.id': '3Sr7bJPtF85MtsSPmbAU2Z',
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });
    const [navigationVariant] = navigationVariantEntry.items;
    this.navigationVariant = navigationVariant;

    const [navigation] = navigationEntry.items;
    this.navigation = navigation;
  },
  mounted() {
    document.addEventListener('searchClick', this.toggleDesktopSearch);
    window.addEventListener('load', () => {
      const salesButton = document.querySelector(
        '.navigation-bottom-right [data-nav="sales"]',
      );
      salesButton.addEventListener('click', this.clickedSales);
    });
  },
  methods: {
    closeDesktopSearch() {
      this.searchVisible = false;
    },
    toggleDesktopSearch() {
      this.searchVisible = !this.searchVisible;
      if (this.searchVisible) {
        this.sendFocusToSearch();
      }
    },
    openDesktopSearch() {
      this.searchVisible = true;
      this.sendFocusToSearch();
    },
    sendFocusToSearch() {
      const searchBarReference = this.$refs.searchBar as any;
      setTimeout(() => {
        searchBarReference?.$refs.searchInput.focus();
      }, 350);
    },
    clickedSales() {
      this.$refs.launchDarkly.fireCustomEvent('sales-button-click');
    },
  },
});
</script>

<template>
  <div class="nav-hoc">
    <client-only>
      <LaunchDarkly ref="launchDarkly" feature-flag="3370-sales-nav-button">
        <template #control>
          <SlpNavigation
            free-trial-variant="primary"
            :contentful-navigation-data="navigation"
          />
        </template>

        <template #experiment>
          <SlpNavigation
            free-trial-variant="primary"
            :contentful-navigation-data="navigationVariant"
          />
        </template>
      </LaunchDarkly>
    </client-only>
  </div>
</template>

<style lang="scss">
.nav-hoc {
  background: $color-surface-50;
  min-height: 84px;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;

  @media (min-width: 576px) and (max-width: 1024px) {
    min-height: 80px;
  }

  @media (max-width: 575px) {
    min-height: 116px;
  }

  .navigation-dropdown__popover {
    a {
      text-decoration: none !important;
    }
  }
}
</style>
