// Override Marketo's label styles
.mktoForm .mktoRequiredField label.mktoLabel,
.mktoForm_container .mktoFieldWrap label {
  color: $color-text-300;
  font-size: 14px;
  font-weight: 400 !important;
}

// Override Marketo's inputs styles
.mktoForm.mktoLayoutAbove .mktoField {
  border: 1px solid $color-surface-700;
  border-radius: 4px;
  color: #666;
  display: block;
  font-size: 14px;
  margin-top: 0.4rem;
  outline: none;
  padding: 1em;
  width: 100%;
  &:focus {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  }
}

.mktoForm button.mktoButton {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  background-color: $color-surface-50;
  color: $color-text-300;
  border: 1px solid $color-text-300;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-surface-700;
    color: $color-surface-50;
  }
}

.mktoButtonWrap .mktoNative button {
  margin-left: -110px !important;
}

// Override Marketo styles for ROI calculator

.mkto-roi-form-wrapper.optional
  .mktoForm
  .mktoButtonWrap.mktoMinimal
  button.mktoButton::before {
  content: 'Get in touch';
}
.mkto-roi-form-wrapper {
  .mktoForm {
    background: transparent;
    width: 100% !important;

    .mktoOffset {
      height: 0;
      width: 0 !important;
    }

    .mktoFormRow:nth-of-type(10) {
      grid-column: 1/3;
    }

    .mktoFormRow:nth-of-type(31) {
      width: 0;
      position: absolute;
    }

    .mktoFormRow {
      width: 100%;
    }

    .mktoFormCol,
    .mktoFieldWrap,
    .mktoField {
      width: 100% !important;

      &[type='text'],
      &[type='email'],
      &:is(select) {
        height: 45px;
      }
    }

    input[aria-invalid='true'],
    select[aria-invalid='true'],
    textarea[aria-invalid='true'] {
      border: 1px solid $color-alert-200;
    }

    .mktoFormCol {
      margin-bottom: $spacing-16 !important;
    }

    .mktoRequiredField label.mktoLabel {
      font-size: $text-body-2;
      width: 100% !important;
      text-transform: lowercase !important;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .mktoHtmlText {
      width: 100% !important;
      margin: $spacing-16 0;

      a {
        padding: 0;
      }
    }

    .mktoButtonWrap {
      margin-left: 0 !important;
      width: 140px;
    }

    .mktoButtonWrap.mktoMinimal button.mktoButton {
      color: transparent !important;
      font-size: 0 !important;
      width: 100% !important;
      background-color: #171321 !important;
      border: 1px solid #171321 !important;
      display: flex;
      padding: 4px 30px;
      line-height: 40px;
      min-width: 140px;
      min-height: 52px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      position: relative;
      text-shadow: none;
      box-shadow: none;
      max-width: 200px;

      @media (max-width: $breakpoint-md) {
        max-width: 100%;
      }

      &:hover {
        background-color: $color-surface-50 !important;
        border: 1px solid #171321 !important;

        &:before {
          color: #171321 !important;
        }
      }

      &:before {
        color: $color-text-50 !important;
        width: 100%;
        font-size: $text-button-1;
        color: black;
      }

      &:disabled {
        background-color: $color-primary-100;
        border: 1px solid $color-primary-100;
        color: $color-text-200;
      }
    }

    .mktoCheckboxList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100% !important;
      margin: $spacing-16 0;

      @media (max-width: $breakpoint-md) {
        max-width: 260px;
      }

      label {
        flex: 1 0 100%;
      }

      input[type='checkbox'],
      label {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    @media (max-width: $breakpoint-md) {
      .mktoFormRow {
        margin-right: 0;
      }

      .mktoButtonRow {
        width: 100%;
      }
    }
  }
}
