<script lang="ts">
import Vue from 'vue';
import { Accordion } from '../index.vue';
import { UseLocalizedVideoSubtitles } from '~/mixins';

export default Vue.extend({
  name: 'BySolutionBenefits',
  components: { Accordion },
  mixins: [UseLocalizedVideoSubtitles],
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isOpenIndex: 0 as any,
    };
  },
  methods: {
    toggleController(index: number) {
      if (this.isOpenIndex === index) {
        this.isOpenIndex = null;
        return;
      }
      this.isOpenIndex = index;
    },
  },
});
</script>

<template>
  <section :id="data.id" class="by-solution-benefits slp-py-48 slp-py-md-96">
    <SlpContainer>
      <SlpRow v-if="data?.image?.image_url">
        <SlpColumn :cols="8" size="lg">
          <div class="slp-mb-16 slp-mb-md-32">
            <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-8">
              <span
                :data-aos="data.header_animation"
                :data-aos-duration="data.header_duration"
                >{{ data.title }}</span
              >
            </SlpTypography>
          </div>
        </SlpColumn>
      </SlpRow>

      <SlpRow class="by-solution-benefits__row">
        <SlpColumn :cols="data.is_full_width ? 12 : 6" class="slp-pr-md-16">
          <div v-if="data.video" class="by-solution-benefits__video">
            <iframe
              :src="createVideoSource(data.video.video_url)"
              frameborder="0"
              :title="data.header + ' YouTube Video'"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
            />
          </div>
          <div
            v-else-if="data?.image?.image_url"
            class="by-solution-benefits__container"
          >
            <img
              class="by-solution-benefits__image"
              :src="data.image.image_url"
              :alt="data.image.alt"
              aria-hidden="true"
              :data-aos="data.left_block_animation"
              :data-aos-duration="data.left_block_duration"
              loading="lazy"
            />
          </div>
          <div v-else>
            <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-32">
              <span
                :data-aos="data.header_animation"
                :data-aos-duration="data.header_duration"
                >{{ data.title }}</span
              >
            </SlpTypography>
            <SlpTypography variant="heading5" class="slp-mb-16">
              <span
                :data-aos="data.header_animation"
                :data-aos-duration="data.header_duration"
                >{{ data.subtitle }}</span
              >
            </SlpTypography>
            <SlpButton
              v-if="data.link"
              variant="tertiary"
              :href="data.link.href"
              :data-ga-location="data.link.ga_location"
              :data-ga-name="data.link.ga_name"
              class="main-cta"
            >
              {{ data.link.text }}
              <SlpIcon variant="product" name="chevron-lg-right"
            /></SlpButton>
          </div>
        </SlpColumn>
        <SlpColumn
          :cols="data.is_full_width ? 12 : 6"
          class="slp-pl-md-16"
          size="lg"
        >
          <div
            :data-aos="data.right_block_animation"
            :data-aos-duration="data.right_block_duration"
          >
            <div
              v-if="data.is_accordion"
              class="by-solution-benefits__items-wrapper"
            >
              <Accordion
                v-for="(item, index) in data.items"
                :key="item.header"
                :data="item"
                :is-open="isOpenIndex == index"
                @toggleController="toggleController(index)"
              />
            </div>
            <div v-else class="by-solution-benefits__items-wrapper">
              <div
                v-for="(item, index) in data.items"
                :key="item.header"
                class="slp-pb-16 slp-mb-32"
                :class="{
                  'by-solution-benefits__items-w-border':
                    index !== data.items.length - 1 && data?.bordered,
                }"
              >
                <SlpTypography
                  tag="h3"
                  variant="heading5"
                  class="by-solution-benefits__header"
                >
                  <SlpIcon
                    v-if="item.icon"
                    class="by-solution-benefits__icon"
                    :name="item.icon.name"
                    :alt="item.icon.alt"
                    :variant="item.icon.variant"
                    size="md"
                  />
                  {{ item.header }}
                </SlpTypography>
                <div
                  class="by-solution-benefits__description"
                  v-html="item.text"
                />
                <SlpButton
                  v-if="item.link_url"
                  variant="tertiary"
                  :href="item.link_url"
                  class="cta"
                  :data-ga-name="item?.ga_name"
                  :data-ga-location="item?.ga_location"
                >
                  {{ item.link_text }}

                  <SlpIcon variant="product" name="chevron-lg-right" />
                </SlpButton>
              </div>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.by-solution-benefits {
  position: relative;
  .main-cta {
    margin: $spacing-24 0 $spacing-32;
  }

  .cta {
    padding-left: $spacing-48;
    margin-top: 28px;
    text-align: left;
  }
  &__row {
    width: 100%;
    word-wrap: break-word;
  }

  &__container {
    position: relative;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: $spacing-48;
    }

    .by-solution-benefits__image {
      max-width: 450px;
      width: 100%;
    }
  }

  &__video {
    position: relative;
    padding: 56.25% 0 0 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__items-wrapper {
    width: 100%;

    @media (max-width: 1169px) {
      max-width: 100%;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-right: $spacing-default;
    margin-bottom: 20px;
  }

  &__description {
    padding-left: $spacing-48;
  }

  &__header {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-4;
  }

  &__items-w-border {
    border-bottom: 1px solid $color-surface-200;
  }
}
.offset {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}
</style>
