<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PressTile',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <a
    class="press-tile-resource"
    :href="data.cardLink"
    :data-ga-name="data.cardLinkDataGaName"
    :data-ga-location="data.cardLinkDataGaLocation"
  >
    <div
      class="press-tile-background-container"
      :style="`background: url('${data.image.src}') center center no-repeat;`"
    ></div>
    <div class="press-tile-info">
      <SlpTypography variant="body1" tag="h3" class="slp-mb-8">{{
        data.title
      }}</SlpTypography>
      <SlpButton variant="tertiary"
        >{{ data.button.text }}
        <SlpIcon name="arrow-right" variant="product" alt="Arrow Right Icon"
      /></SlpButton>
    </div>
  </a>
</template>

<style lang="scss" scoped>
.press {
  &-tile-resource {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
    text-decoration: none;
    :deep {
      .slp-text-body1 {
        color: $color-primary-200;
      }
    }
    &:hover,
    &:focus {
      .press-tile-background-container {
        transform: scale(1.05);
      }

      :deep {
        .slp-btn-tertiary {
          text-decoration: underline;
          pointer-events: none;

          .slp-icon {
            transform: translateX(8px);
          }
        }
      }
    }
  }
  &-tile-background-container {
    width: 101%;
    min-height: 180px;
    background-size: cover !important;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
  }

  &-tile-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 30px;
    z-index: 1;
    background: #fff;
  }
  &-tile-info {
    :deep {
      .slp-btn-tertiary {
        pointer-events: none;
        margin: auto auto 0 0;
        color: $color-text-link-100;
        &:hover,
        &:focus {
          text-decoration-color: inherit;
        }
      }
    }
  }
}
</style>
