<script>
import Tabs from './tabs.vue';

export default {
  components: {
    Tabs,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    ctaText: {
      type: String,
      required: true,
    },
    banner: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedTab: 0,
      tabs: [],
    };
  },
  computed: {
    caseStudyCards() {
      const cards = {
        featured: {},
        smallCards: [],
      };

      this.data.tabs[this.selectedTab].fields.tabPanelContent.forEach(
        (card, index) => {
          if (index === 0) {
            cards.featured = {
              company: card.fields.companyName,
              heading: card.fields.heading,
              logo: card.fields.companyLogo.fields.file.url,
              cardImage: card.fields.headerImage.fields.file.url,
              quote: card.fields.quotes[0].fields.quoteText,
              author: card.fields.quotes[0].fields.author,
              title: card.fields.quotes[0].fields.authorTitle,

              link: card.fields.slug,
              metrics: card.fields.stickyBenefits.benefits.map((benefit) => {
                return {
                  value: benefit.stat,
                  text: benefit.label,
                };
              }),
            };
          } else {
            cards.smallCards.push({
              company: card.fields.companyName,
              description: card.fields.description,
              cardImage: card.fields.headerImage.fields.file.url,
              link: card.fields.slug,
            });
          }
        },
      );
      return cards;
    },
  },
  mounted() {
    this.tabs = this.data.tabs.map((tab) => tab.fields);
  },
  methods: {
    setActiveCategory(newTab) {
      this.selectedTab = newTab;
    },
  },
};
</script>

<template>
  <SlpContainer variant="light-purple-100">
    <div class="company-showcase">
      <SlpTypography variant="heading2-bold" tag="h2" class="header">{{
        data.header
      }}</SlpTypography>
      <div class="showcase-container">
        <Tabs
          :tabs="tabs"
          :cta="data.tabs[selectedTab].fields.tabCta.fields"
          :selected-tab="selectedTab"
          @change="(newTab) => setActiveCategory(newTab)"
        />
        <transition name="fade" mode="out-in" tag="div">
          <div :key="selectedTab" class="showcase-cards">
            <a
              v-for="company in caseStudyCards.smallCards"
              :key="company.text"
              class="case-study"
              :href="`/customers/${company.link}/`"
              :data-ga-name="company.company"
              data-ga-location="customers organization size"
            >
              <div>
                <div class="image-container">
                  <img
                    class="image slp-mb-24"
                    :src="company.cardImage"
                    alt=""
                    loading="lazy"
                  />
                </div>

                <div class="text-container">
                  <SlpTypography
                    variant="heading4-bold"
                    class="slp-mb-16"
                    tag="h4"
                    >{{ company.company }}</SlpTypography
                  >
                  <SlpTypography variant="body1" class="slp-mb-24">
                    {{ company.description }}</SlpTypography
                  >
                  <SlpButton
                    variant="tertiary"
                    class="read-story-cta"
                    :style="`padding-left: 0;`"
                  >
                    {{ ctaText }}
                    <SlpIcon
                      variant="product"
                      name="chevron-lg-right"
                      class="slp-ml-8"
                    />
                  </SlpButton>
                </div>
              </div>
            </a>
            <div class="feature-card">
              <div class="text-container">
                <img
                  class="logo"
                  :src="caseStudyCards.featured.logo"
                  :alt="`${caseStudyCards.company} logo`"
                  loading="lazy"
                />
                <SlpTypography variant="heading3-bold" class="slp-mb-16">
                  {{ caseStudyCards.featured.heading }}
                </SlpTypography>
                <div class="mobile metrics">
                  <div
                    v-for="(metric, index) in caseStudyCards.featured.metrics"
                    :key="metric.text"
                    class="metric"
                    :class="`metric-${index}`"
                  >
                    <SlpTypography variant="heading1-bold" tag="p">{{
                      metric.value
                    }}</SlpTypography>
                    <SlpTypography variant="body2" tag="p">
                      {{ metric.text }}</SlpTypography
                    >
                  </div>
                </div>
                <SlpTypography variant="quotes" class="slp-mb-16">
                  {{ caseStudyCards.featured.quote }}
                </SlpTypography>
                <div class="author slp-mb-24">
                  <SlpTypography variant="body3-bold" tag="p">
                    {{ caseStudyCards.featured.author }}</SlpTypography
                  >
                  <SlpTypography variant="body3" tag="p">
                    {{ caseStudyCards.featured.title }},
                    {{ caseStudyCards.featured.company }}</SlpTypography
                  >
                </div>
                <SlpButton
                  :href="`/customers/${caseStudyCards.featured.link}/`"
                  :data-ga-name="caseStudyCards.featured.company"
                  data-ga-location="
                    customers organization size
                  "
                  class="button"
                >
                  {{ ctaText }}
                  <SlpIcon
                    variant="product"
                    name="chevron-lg-right"
                    class="slp-ml-8"
                  />
                </SlpButton>
              </div>
              <div class="metrics">
                <div
                  v-for="(metric, index) in caseStudyCards.featured.metrics"
                  :key="metric.text"
                  class="metric"
                  :class="`metric-${index}`"
                >
                  <SlpTypography variant="heading1-bold" tag="p">{{
                    metric.value
                  }}</SlpTypography>
                  <SlpTypography variant="body2" tag="p">
                    {{ metric.text }}</SlpTypography
                  >
                </div>
              </div>
            </div>
            <!-- <div class="mobile-learn-more-button">
              <SlpButton
                variant="tertiary"
                :href="data.categories[selectedTab].cta.href"
                >{{ data.categories[selectedTab].cta.text
                }}<SlpIcon variant="product" name="chevron-lg-right"
              /></SlpButton>
            </div> -->
          </div>
        </transition>
        <a
          v-if="banner"
          class="cta-banner"
          :href="banner.button.fields.externalUrl"
          :data-ga-name="banner.button.fields.dataGaName"
          :data-ga-location="banner.button.fields.dataGaLocation"
        >
          <div class="text">
            <SlpIcon
              :name="banner.iconName"
              size="lg"
              variant="marketing"
              class="icon"
            />
            <SlpTypography variant="heading4" tag="p">{{
              banner.title
            }}</SlpTypography>
          </div>
          <SlpButton variant="tertiary" class="cta-button">
            {{ banner.button.fields.text }}
            <SlpIcon variant="product" name="chevron-lg-right"
          /></SlpButton>
        </a>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.mobile-learn-more-button {
  display: block;
  a {
    text-align: left;
  }
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
.header {
  margin-bottom: 60px;
}

.cta-banner {
  grid-column: span 3;
  margin-top: 32px;
  background: white;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  transition: all 0.3s;
  @media (max-width: $breakpoint-md) {
    grid-column: span 1;
    flex-direction: column;
    align-items: flex-start;
  }
  &:hover {
    box-shadow: 0 24px 50px -24px #d1d0d3;
  }
  .text {
    display: flex;
    align-items: center;
    max-width: 80%;
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: $spacing-24;
    }

    .icon {
      margin-right: 24px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: $spacing-24;
      }
    }
  }
}

a {
  color: $color-text-300;
}

.text-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: $breakpoint-md) {
    min-height: 185px;
  }
}
.logo {
  max-height: 64px;
  max-width: 160px;
  margin-bottom: 16px;
}
.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  @media (min-width: $breakpoint-lg) {
    display: block;
    max-height: 442px;
  }
}
.showcase-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 500px auto;
  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.feature-card {
  display: flex;
  background: white;
  grid-column: span 3;
  width: 90%;
  padding: 64px 71px;
  border-radius: 4px;
  @media (max-width: $breakpoint-md) {
    grid-column: span 1;
    width: 100%;
    flex-direction: column-reverse;
    padding: 32px 24px;
  }
  .metrics {
    margin-bottom: 32px;
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
      position: relative;
      right: -75px;
      width: 33%;
      margin-bottom: 0;
    }
    &.mobile {
      display: block;
      margin-top: 8px;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
    .metric {
      margin-bottom: 8px;
      min-width: 415px;
      padding: 32px;
      background: linear-gradient(
        108.2deg,
        #eee7fd 0.01%,
        #f6f3fe 69.81%,
        #ffd4d8 140.41%
      );
      @media (max-width: $breakpoint-md) {
        min-width: 0;
        padding: 16px;
      }
      &-1 {
        background: linear-gradient(
          109.13deg,
          #eee7fd -25.16%,
          #f6f3fe 44.15%,
          #ffd4d8 114.27%
        );
      }
      &-2 {
        background: linear-gradient(
          107.77deg,
          #eee7fd -55.1%,
          #f6f3fe 16.25%,
          #ffd4d8 88.43%
        );
      }
      &:last-child {
        border-radius: 0px 0px 90px 0px;
        margin-bottom: 0;
        padding-right: 50px;
      }
    }
  }
}

.case-study {
  width: 100%;
  background: white;
  padding: 16px;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover {
    border-radius: 4px 4px 100px 4px;
    .text-container .read-story-cta {
      text-decoration-color: #171321;
      .slp-icon {
        transform: translateX(8px);
      }
    }
  }

  .image-container {
    position: relative;
    display: block;
  }
  &:last-child {
    .text-container {
      border-radius: 0 0 100px 0;
    }
  }
  .image {
    max-height: 200px;
    min-width: 100%;
  }
}
</style>
