<script lang="ts">
import Vue, { PropType } from 'vue';
import { CtfCustomPage } from '~/models';

export default Vue.extend({
  name: 'ContentfulHero',
  props: {
    data: {
      type: Object as PropType<CtfCustomPage>,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer class="hero">
    <SlpRow>
      <SlpColumn :cols="12" class="container">
        <SlpTypography v-if="data.subheader" tag="h5" variant="heading5-bold">{{
          data.subheader
        }}</SlpTypography>
        <SlpTypography
          v-if="data.header"
          tag="h1"
          variant="heading1-bold"
          class="slp-mb-32"
          >{{ data.header }}</SlpTypography
        >
        <hr class="hero__divider" />
        <SlpTypography v-if="data.description" tag="div" variant="body1">
          <div v-html="$md.render(data.description)" />
        </SlpTypography>
        <div class="hero__buttons">
          <SlpButton
            v-if="data.primaryCtaText"
            :href="data.primaryCtaLink"
            :data-ga-name="data.header"
            data-ga-location="hero"
            >{{ data.primaryCtaText }}</SlpButton
          >
          <SlpButton
            v-if="data.secondaryCtaText"
            :href="data.secondaryCtaLink"
            :data-ga-name="data.secondaryCtaText"
            data-ga-location="hero"
            variant="secondary"
            >{{ data.secondaryCtaText }}
          </SlpButton>
        </div>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.hero {
  margin-top: $spacing-32;
  margin-bottom: $spacing-64;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;

  &__divider {
    width: 100%;
    margin: $spacing-24 0 $spacing-48 0;
    border-top: 1px solid #e7e7e7;
  }

  &__buttons {
    padding-top: $spacing-32;
  }
}
.container {
  flex-basis: 100%;
}
</style>
