<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <SlpContainer :variant="data.purple_background ? 'light-purple-100' : ''">
    <div
      class="startups-link slp-my-96"
      :class="{ 'image-left': data.image_left }"
    >
      <div class="text-container" :class="{ light: data.purple_background }">
        <SlpTypography
          :variant="data.heading_variant || 'heading2-bold'"
          tag="h2"
          class="slp-mb-24"
        >
          {{ data.header }}</SlpTypography
        >
        <SlpTypography variant="body1" class="slp-mb-24">
          {{ data.description }}</SlpTypography
        >
        <SlpButton
          :href="data.button.href"
          :data-ga-name="data.button.data_ga_name"
          :data-ga-location="data.button.data_ga_location"
        >
          {{ data.button.text }}
        </SlpButton>
      </div>
      <img class="image" :src="data.image" :alt="data.alt" loading="lazy" />
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.startups-link {
  display: flex;
  transition: all 0.3s;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column-reverse;
  }
  &:hover {
    box-shadow: -50px 24px 50px -24px #d1d0d3;
    @media (min-width: $breakpoint-lg) {
      border-radius: 0px 4px 190px 0px;
    }
  }
  &.image-left {
    flex-direction: row-reverse;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column-reverse;
    }
    .text-container {
      border-radius: 0 4px 100px 0;
    }
    .image {
      border-radius: 4px 0 0 4px;
    }
  }
  .text-container {
    display: flex;
    background: $color-surface-800;
    flex-direction: column;
    border-radius: 4px 0 0 4px;
    align-items: flex-start;
    padding: 40px;
    &.light {
      background: white;
    }
    @media (max-width: $breakpoint-lg) {
      border-radius: 0px 4px 190px 0px;
    }
  }
  .image {
    max-width: 474px;
    max-height: 364px;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
    @media (min-width: $breakpoint-lg) {
      display: block;
      border-radius: 0px 4px 190px 0px;
    }
  }
}
</style>
