<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { Hero } from '../components/devsecops/index.vue';
import { NextStep as FeaturesCTA } from '../components/common/index.vue';
import ContentCard from '../components/solutions/by-solution/by-solution-link.vue';
import { getPageMetadata } from '~/common/meta';
import { UseLocalizedVideoSubtitles } from '~/mixins';

export default Vue.extend({
  components: {
    Hero,
    FeaturesCTA,
    ContentCard,
  },
  mixins: [UseLocalizedVideoSubtitles],
  nuxtI18n: false,
  async asyncData({ $content }) {
    try {
      const data = await $content('getting-started-videos').fetch();
      return { data };
    } catch (e) {
      throw new Error(e);
    }
  },
  data() {
    return {};
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
});
</script>

<template>
  <div class="getting-started-videos">
    <SlpContainer>
      <SlpContainer>
        <component
          :is="component.name"
          v-for="component in data.components"
          :key="component.name"
          :data="component.data"
          v-bind="component"
        />
      </SlpContainer>
      <SlpSideNavigation
        :data="data.side_menu"
        :class="'side-navigation--w-hero'"
      >
        <template #footer>
          <SlpButton>
            {{ data.button.text }}
          </SlpButton>
        </template>
        <SlpContainer>
          <component
            :is="component.name"
            v-for="(component, index) in data.side_menu.content"
            :key="component.name + `-${index}`"
            :data="component.data"
          />
        </SlpContainer>
        <section
          v-for="(video, index) in data.videos"
          :id="video.title.toLowerCase().replaceAll(' ', '-')"
          :key="video.title"
          class="getting-started-videos__video"
          :class="
            index % 2 === 0
              ? 'getting-started-videos__video--light-bg'
              : 'getting-started-videos__video--dark-bg'
          "
        >
          <SlpTypography variant="heading4-bold" tag="h2">
            {{ video.title }}
          </SlpTypography>
          <div class="getting-started-videos__video-wrapper">
            <iframe
              v-if="video"
              :id="'video-' + index + '-stream'"
              :src="createVideoSource(video.url)"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <SlpButton
            href="/resources/"
            variant="secondary"
            class="getting-started-videos__cta"
            :data-ga-name="video.title.toLowerCase()"
            data-ga-location="body"
            >Discover more resources</SlpButton
          >
        </section>
      </SlpSideNavigation>
    </SlpContainer>
    <SlpContainer class="getting-started-videos__footer">
      <ContentCard :data="data.card.data" />
      <FeaturesCTA />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
:deep #collapsible-sidebar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;

  &-wrapper {
    justify-content: space-between;
  }

  .anchor {
    margin-bottom: 0;
  }
}

.getting-started-videos {
  overflow-x: clip;
  &__video {
    position: relative;
    padding: $spacing-64 0;

    &:first-of-type {
      padding: $spacing-24 0 $spacing-64;
    }
    &--dark-bg {
      background-color: $color-surface-800;
      &:after {
        content: '';
        position: absolute;
        width: 200vw;
        height: 100%;
        top: 0;
        left: -50vw;
        z-index: -1;
        background: $color-surface-800;
      }
    }
  }
  &__cta {
    border: 1px solid;
    &:hover {
      border: 1px solid;
    }
  }

  &__footer {
    margin-top: $spacing-96;

    :deep .slp-icon {
      &:first-of-type {
        display: none;
      }
    }
  }

  &__video-wrapper {
    position: relative;
    overflow: hidden;
    margin: 24px 0;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
</style>
