<template>
  <div class="slp-mt-96">
    <SlpTypography
      class="slp-pb-48 slp-mt-96"
      tag="h2"
      variant="heading2-bold"
      :data-aos="'fade-up'"
      :data-aos-duration="1600"
      :data-aos-offset="200"
      >Try GitLab Duo Pro</SlpTypography
    >
    <SlpRow
      class="card-container"
      :data-aos="'fade-up'"
      :data-aos-duration="1200"
      :data-aos-offset="400"
      ><SlpColumn
        ><a
          class="card"
          href="https://gitlab.com/-/trial_registrations/new?glm_content=default-saas-trial&glm_source=about.gitlab.com%2Fgitlab-duo%2F"
          data-ga-name="not a customer yet?"
          data-ga-location="body"
        >
          <nuxt-img src="/nuxt-images/solutions/ai/icons/person.svg" alt="" />
          <SlpTypography
            class="slp-pt-8 slp-pb-8"
            variant="body1-bold"
            tag="h4"
          >
            Not a customer yet?
          </SlpTypography>
          <SlpTypography class="slp-pb-8 description" tag="p" variant="body2">
            Get access to GitLab Duo Pro for 30 days by signing up for an
            Ultimate trial.
          </SlpTypography>
          <span class="button"
            >Get a free trial
            <SlpIcon
              class="learn-more-icon"
              name="chevron-lg-right"
              variant="product"
          /></span>
        </a>
      </SlpColumn>
      <SlpColumn>
        <a
          class="card"
          data-ga-name="existing customers"
          data-ga-location="body"
          href="http://about.gitlab.com/solutions/gitlab-duo-pro/self-managed-and-gitlab-dedicated-trial"
        >
          <nuxt-img src="/nuxt-images/solutions/ai/icons/group.svg" alt="" />
          <SlpTypography class="slp-pt-8 slp-pb-8" variant="body1-bold" tag="h4"
            >Existing customers</SlpTypography
          >
          <SlpTypography class="slp-pb-8 description" variant="body2" tag="p">
            Learn how your organization can get access to a GitLab Duo Pro
            trial.
          </SlpTypography>
          <span class="button"
            >Get a free trial
            <SlpIcon
              class="learn-more-icon"
              name="chevron-lg-right"
              variant="product"
          /></span>
        </a>
      </SlpColumn>
    </SlpRow>
  </div>
</template>

<style lang="scss" scoped>
* {
  color: white;
}

.card-container {
  display: flex;
  background: linear-gradient(
    95.59deg,
    rgba(225, 152, 109, 0.1) -2.37%,
    rgba(110, 67, 211, 0.1) 102.1%
  );
  gap: 32px;
  padding: 32px;
  border: 1px solid #45424d;
  border-radius: 8px;
}

.card {
  display: block;
  padding: 24px;
  background: #171321;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-radius: 8px 8px 80px 8px;

    .button .slp-icon {
      margin-left: 8px;
    }
  }
  .description {
    color: $color-surface-400;
  }

  .button {
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: $font-weight-bold;
    display: inline-flex;
    align-items: center;
    padding: 11px 0;

    .slp-icon {
      margin-left: 4px;
      transition: all 0.2s ease-in-out;
    }
  }
}
</style>
