<script lang="ts">
import { CtfCardGroup, CtfEntry } from '../../../models';

interface AiWhyGitlab {
  fields: CtfEntry<CtfCardGroup>;
}

export default {
  data(): AiWhyGitlab {
    return {
      fields: {
        fields: {
          internalName: 'ai-why-gitlab',
          header: 'Why GitLab Duo?',
          card: [
            {
              fields: {
                internalName: 'ai-why-gitlab-card-1',
                title: 'Accelerate your path to market',
                iconName: 'speedometer',
                description:
                  'Develop and deploy secure software faster with AI in every phase of the software development lifecycle — from planning and code creation to testing, security, and monitoring.',
              },
            },
            {
              fields: {
                internalName: 'ai-why-gitlab-card-2',
                title: 'Adopt AI with guardrails',
                iconName: 'ai-vulnerability-resolution',
                description:
                  'With GitLab Duo, you control which users, projects, and group can use AI-powered capabilities. Also, your organization’s proprietary code and data aren’t used to train AI models.',
              },
            },
            {
              fields: {
                internalName: 'ai-why-gitlab-card-3',
                title: 'Improve developer experience',
                iconName: 'values',
                description:
                  'Give your developers a single platform that integrates the best AI model for each use case across the entire workflow, from understanding code to fixing security vulnerabilities.',
              },
            },
            {
              fields: {
                internalName: 'ai-why-gitlab-card-4',
                title: 'Committed to transparent AI',
                iconName: 'eye',
                description:
                  'For organizations and teams to trust AI, it must be transparent. GitLab’s [AI Transparency Center](https://about.gitlab.com/ai-transparency-center/){data-ga-name="ai transparency center" data-ga-location="body"} details how we uphold ethics and transparency in our AI-powered features.',
              },
            },
          ],
        },
      },
    };
  },
};
</script>

<template>
  <div class="slp-mt-64 why-container">
    <SlpTypography
      class="slp-mt-32 slp-pt-4"
      variant="heading2-bold"
      tag="h2"
      :data-aos="'fade-up'"
      :data-aos-duration="1200"
      :data-aos-offset="200"
      >{{ fields.fields.header }}
    </SlpTypography>
    <SlpRow class="container">
      <div
        v-for="item in fields.fields.card"
        :key="item.fields.internalName"
        class="card"
        :data-aos="'fade-up'"
        :data-aos-duration="800"
        :data-aos-offset="200"
      >
        <nuxt-img
          :src="`/nuxt-images/solutions/ai/icons/${item.fields.iconName}.svg`"
          alt=""
        />
        <SlpTypography
          class="slp-pb-16 slp-pt-8"
          variant="heading5-bold"
          tag="p"
          >{{ item.fields.title }}</SlpTypography
        >
        <div class="description" v-html="$md.render(item.fields.description)" />
      </div>
    </SlpRow>
  </div>
</template>

<style lang="scss" scoped>
* {
  color: white;
}

.why-container {
  margin-bottom: 192px;
}

.description {
  color: #a2a1a6;
}

.container {
  gap: 44px;
  padding-top: 32px;
}

.card {
  width: calc(50% - 22px);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
</style>
