<script lang="ts">
import Vue from 'vue';
import DemoVideo from './demo-video.vue';
import SeriesHeader from './series-header.vue';

export default Vue.extend({
  name: 'OnDemandVideo',
  components: { DemoVideo, SeriesHeader },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer :class="data.class">
    <SeriesHeader :header="data.header">
      <SlpRow class="demo">
        <DemoVideo
          v-for="entry in data.card"
          :key="entry.fields.title"
          :card="entry.fields"
        />
      </SlpRow>
    </SeriesHeader>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.demo {
  flex-wrap: nowrap;
  gap: $spacing-32;
}
@media screen and (max-width: $breakpoint-md) {
  .demo {
    flex-wrap: wrap;
  }
}
</style>
