<script lang="ts">
export default {
  name: 'AtcCopy',
  props: {
    title: {
      type: String,
      default: '',
      required: true,
    },
    subtitle: {
      type: String,
      default: '',
      required: false,
    },
    description: {
      type: String,
      default: '',
      required: false,
    },
    link: {
      type: Object,
      default: null,
      required: false,
    },
    surfaceBackground: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>

<template>
  <section
    class="atc-copy"
    :class="{ 'atc-copy--surface-background': surfaceBackground }"
  >
    <SlpContainer>
      <SlpRow>
        <SlpColumn :cols="5" class="slp-pr-8">
          <SlpTypography tag="h2" variant="heading2-bold">
            {{ title }}
          </SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="7">
          <SlpTypography
            v-if="subtitle"
            tag="h5"
            variant="heading5-bold"
            class="slp-mb-16"
          >
            {{ subtitle }}
          </SlpTypography>
          <SlpTypography
            v-if="description"
            tag="div"
            variant="body1"
            class="slp-mb-16"
          >
            <div
              class="atc-copy__description"
              v-html="$md.render(description)"
            />
          </SlpTypography>
          <SlpButton
            v-if="link"
            variant="tertiary"
            class="atc-copy__cta"
            :href="link.href"
            :data-ga-name="link.ga_name"
            :data-ga-location="link.ga_location"
          >
            {{ link.text }}
            <SlpIcon name="chevron-lg-right" variant="product" />
          </SlpButton>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.atc-copy {
  padding: $spacing-96 0;

  &--surface-background {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 200vw;
      height: 100%;
      top: 0;
      left: -50vw;
      z-index: -1;
      background: $color-surface-800;
    }
  }

  &__cta {
    text-align: left;
  }

  &__description {
    :deep {
      li {
        list-style: none;
        padding-left: 12px;
        position: relative;

        &:before {
          content: '✓';
          left: -12px;
          position: absolute;
        }
      }

      p {
        margin-bottom: $spacing-16;
      }
    }
  }
}
</style>
