<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    readLess: {
      type: String,
      required: false,
      default: '',
    },
    readMore: {
      type: String,
      required: false,
      default: '',
    },
    urlText: {
      type: String,
      required: false,
      default: '',
    },
    url: {
      type: String,
      required: false,
      default: '',
    },
    text: {
      type: String,
      required: true,
    },
    details: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      open: false,
    };
  },
  methods: {
    toggleOpen() {
      this.open = !this.open;
    },
  },
});
</script>

<template>
  <div class="disclaimer">
    <SlpContainer class="text-container">
      <SlpTypography class="slp-mb-16" variant="body3" tag="p"
        >{{ text
        }}<a v-if="urlText" :href="url"> {{ urlText }}</a></SlpTypography
      >
      <SlpTypography
        v-if="open"
        variant="body3"
        tag="div"
        class="details"
        v-html="$md.render(details)"
      />
      <SlpButton variant="tertiary" @click.native="toggleOpen">
        <SlpTypography v-if="readMore" variant="body3-bold" tag="p">{{
          open ? readLess : readMore
        }}</SlpTypography>
        <SlpTypography v-else variant="body3-bold" tag="p"
          >Read {{ open ? 'Less' : 'More' }}</SlpTypography
        >
      </SlpButton>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.disclaimer {
  background: #f2f1f5;
  .text-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 0;

    a {
      text-decoration: underline;
      color: $color-text-300;
    }
    .details:deep(p) {
      margin-bottom: 16px;
    }
  }
}
</style>
