<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface QuoteCard {
  header: string;
  quote: string;
  href: string;
  stars: number;
  industry: string;
  firmSize: string;
}

export default Vue.extend({
  props: {
    header: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    cards: {
      type: Array as PropType<QuoteCard[]>,
      required: false,
      default: () => [],
    },
  },
});
</script>

<template>
  <div class="quote-cards">
    <SlpTypography variant="heading2-bold" tag="h3" class="slp-mb-16">{{
      header
    }}</SlpTypography>
    <SlpTypography variant="body1" tag="p" class="description">{{
      description
    }}</SlpTypography>
    <div v-if="cards" class="quote-card-container">
      <a
        v-for="card in cards"
        :key="card.header"
        class="quote-card"
        :href="card.href"
        :data-ga-name="card.header"
        data-ga-location="intro"
      >
        <div class="peer-insights">
          <img
            src="/nuxt-images/gartner/peer-insights.svg"
            alt="gartner peer insights"
            loading="lazy"
          />
          <SlpTypography variant="body1-bold" class="read-report">
            Read full peer review
            <SlpIcon name="link" variant="product" color="#7759C2"
          /></SlpTypography>
        </div>
        <div class="stars">
          <img
            v-for="index in card.stars"
            :key="`star-${index}`"
            src="/nuxt-images/gartner/star.svg"
            alt="rating star"
            class="star"
            loading="lazy"
          />
        </div>
        <SlpTypography variant="heading5-bold">{{ card.header }}</SlpTypography>
        <SlpTypography variant="body2">{{ card.quote }}</SlpTypography>
        <div class="info">
          <div class="industry">
            <SlpTypography variant="body2-bold">Industry: </SlpTypography>
            <SlpTypography variant="body2">{{ card.industry }}</SlpTypography>
          </div>
          <div class="firm-size">
            <SlpTypography variant="body2-bold">Firm Size: </SlpTypography>
            <SlpTypography variant="body2">{{ card.firmSize }}</SlpTypography>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.quote-cards {
  margin: 96px 0;
  .description {
    @media (min-width: $breakpoint-lg) {
      max-width: 75%;
    }
  }
  .quote-card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .quote-card {
      cursor: pointer;
      display: flex;
      color: $color-text-300;
      flex-direction: column;
      gap: 16px;
      padding: 32px;
      justify-content: space-between;
      background-color: $color-surface-800;
      min-height: 250px;
      border-radius: 4px;
      transition: all 0.3s;
      &:hover {
        border-radius: 4px 4px 90px 4px;
        background: linear-gradient(
          93.83deg,
          rgba(199, 177, 254, 0.4) 7.27%,
          rgba(255, 212, 216, 0.4) 105.33%
        );
      }
      .peer-insights {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: 16px;
        img {
          @media (max-width: $breakpoint-lg) {
            max-width: 50%;
          }
        }
        .read-report {
          display: flex;
          gap: 8px;
          color: #7759c2;

          @media (max-width: $breakpoint-lg) {
            align-items: center;
          }
        }
      }
      .stars {
        display: flex;
        gap: 8px;
        justify-content: flex-start;
      }
      .info {
        display: flex;
        gap: 16px;
      }
    }
  }
}
</style>
